
.sidebar-container {
    height: 100%;
    width: 250px;
    padding: 16px;
    padding-top: 5i0px;
    position: fixed;
    overflow-y: auto;
    border-right:solid #d2d8e045 1px;
}

.sidebar-nav  a{
     color:black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dark .sidebar-nav a{
    color:#FAFAFA
}

.sidebar-section {
    display: flex;
    flex-direction: column;
    gap:2px;
}


.sidebar-heading {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}


.sidebar-link {
    color: #333;

    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    padding-left: 16px;
}


.sidebar-link:hover {
    color: #5a67d8;
}


.sidebar-link.active {
    font-weight: 600;
    color: #4c51bf;
}
