/* Sidebar container */
.sidebar-container {
    height: 100%;
    width: 250px;
    padding: 16px;
    padding-top: 5i0px;
    position: fixed;
    overflow-y: auto;
    border-right:solid #d2d8e045 1px;
}

/* Navigation inside sidebar */
.sidebar-nav  a{
     color:black;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Add more space between sections */
}

.dark .sidebar-nav a{
    color:#FAFAFA
}

/* Section styling */
.sidebar-section {
    display: flex;
    flex-direction: column;
    gap:2px;
}

/* Sidebar heading styles */
.sidebar-heading {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333; /* Dark gray text */
    margin-bottom: 8px;
}

/* Link styles */
.sidebar-link {
    color: #333; /* Dark gray text */

    text-decoration: none; /* Remove underline */
    font-weight: 500; /* Medium font weight */
    transition: color 0.3s ease; /* Smooth hover transition */
    padding-left: 16px; /* Indentation for the links */
}

/* Hover effect */
.sidebar-link:hover {
    color: #5a67d8; /* Indigo color on hover (change to your preference) */
}

/* Active link style (optional) */
.sidebar-link.active {
    font-weight: 600; /* Bold text for active link */
    color: #4c51bf; /* Strong indigo color for active state */
}
